<html>
  <head>
    <style>
      body {
        color: <%= "#{background_color}" %>
      }
    </style>
  </head>
  <body>
    <p>
      Guess the secret number:
    </p>
    <%= "#{background_color}" %>
    <form>
      <input type="text" name="guess" />
      <input type="submit", value="Guess" />
    </form>
    <% if message %>
      <p>
        <%= message %>
      </p>
    <% end %>
    <%= number if cheat == 'true' %>
  </body>
</html>